{% extends "./layouts/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% set pageTitle = applicationName + " - Enter Password" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if errorMessage and errorMessage.length > 0 %}
          {{ mojAlert({
            variant: "error",
            title: errorMessage,
            showTitleAsHeading: true,
            dismissible: true,
            html: ''
          }) }}
        {% endif %}

         {{ govukBackLink({
        text: "Back",
        href: "/one-login/enter-email-address-login"
        }) }}
        <form class="form" action="/one-login/enter-password" method="post">

            <h1 class="govuk-heading-l">Enter your password</h1>

            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <div class="govuk-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">

                <div class="govuk-form-group">
                    <label class="govuk-label" for="password">
                        Enter a password
                    </label>
            <div id="password-hint" class="govuk-hint">
                        It must be at least 8 characters and must include letters and numbers. Do not use a very common password, such as 'password' or a sequence of numbers.
                    </div>
                    <div class="govuk-input__wrapper">
                        <div class="govuk-show-password__input-wrapper"><input class="govuk-input govuk-!-width-two-thirds govuk-password-input govuk-input--with-password" id="password" name="password" type="password" spellcheck="false" aria-describedby="password-hint" autocomplete="new-password" aria-autocomplete="list"><button class="govuk-show-password__toggle" aria-controls="password" type="button" aria-label="Show password">Show</button><span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span></div><span class="govuk-input__icon govuk-input__icon--right" onclick="togglePasswordVisibility('password', this)"></span><span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span>
                    </div>
                </div>

                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>

                <p><a href="#">I've forgotten my password</a> </p>
            </div>
        </form>
    </div>

</div>
{% endblock %}
