{% extends "./layouts/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% set pageTitle = applicationName + " - Enter phone number" %}
{% set mainClasses = "app-auth-container govuk-body" %}

{% block content %}
 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {% if errorMessage and errorMessage.length > 0 %}
  {{ mojAlert({
    variant: "error",
    title: errorMessage,
    showTitleAsHeading: true,
    dismissible: true,
    html: ''
  }) }}
{% endif %}

 {{ govukBackLink({
  text: "Back",
  href: "/one-login/create-password"
}) }}
        <form class="form" action="/one-login/enter-phone-number" method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">Enter your mobile phone number</h1>

            <p class="govuk-body">We will send a 6 digit security code to the number you give us.</p>


            <div class="govuk-form-group">
                <label class="govuk-label" for="phoneNumber"> UK mobile phone number </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="phoneNumber" name="phoneNumber" type="tel" autocomplete="tel">
            </div>
            <div class="govuk-form-group">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="hasInternationalPhoneNumber" name="hasInternationalPhoneNumber" type="checkbox" value="true" aria-controls="conditional-hasInternationalPhoneNumber" aria-expanded="false">
                        <label class="govuk-label govuk-checkboxes__label" for="hasInternationalPhoneNumber"> I do not have a UK mobile number </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-hasInternationalPhoneNumber">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="internationalPhoneNumber">Mobile phone number</label>
                            <div id="internationalPhoneNumber-hint" class="govuk-hint"> Include the country code, for example +33 for France </div>
                            <input class="govuk-input govuk-!-width-two-thirds" id="internationalPhoneNumber" name="internationalPhoneNumber" type="tel" aria-describedby="internationalPhoneNumber-hint" autocomplete="tel">
                        </div>
                    </div>
                </div>
            </div>

            <button type="Submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>

{% endblock %}
