{% extends "./layouts/layout.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% set pageTitle = applicationName + " - Verify security code" %}
{% set mainClasses = "app-auth-container govuk-body" %}

{% block content %}
   {{ govukBackLink({
  text: "Back",
  href: "/one-login/enter-email-address"
}) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if errorMessage and errorMessage.length > 0 %}
          {{ mojAlert({
            variant: "error",
            title: errorMessage,
            showTitleAsHeading: true,
            dismissible: true,
            html: ''
          }) }}
        {% endif %}

        <form class="form" action="/one-login/verify-security-code?email={{ email }}" method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            <h1 class="govuk-heading-l">Check your email</h1>

            <div class="govuk-inset-text">We have sent an email to: <span class="govuk-body govuk-!-font-weight-bold permit-reflow">{{ email }}</span></div>

            <p class="govuk-body">The email contains a 6 digit security code.</p>

            <p class="govuk-body">Your email might take a few minutes to arrive. If you do not get an email, check your spam folder.</p>

            <p class="govuk-body">The code will expire after one hour.</p>

            <div class="govuk-form-group">
                <label class="govuk-label" for="code">
                    Enter the 6 digit security code
                </label>
                <input class="govuk-input govuk-input--width-10" id="code" name="code" type="text" spellcheck="false" autocomplete="one-time-code" inputmode="numeric">
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Problems with the code?
                    </span>
                </summary>
                <div class="govuk-details__text">

                    <p class="govuk-body">
                        We can
                        <a href="#" class="govuk-link" rel="noreferrer noopener">send the code again</a>
                        or you can
                        <a href="/one-login/enter-email-address" class="govuk-link" rel="noreferrer noopener">use a different email address</a>.
                    </p>

                </div>
            </details>

        </form>
    </div>
</div>
<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <p>


            <a href="otp-email.html" target="_blank" style="color: orange;">View security email</a>
        </p>
    </div>

</div>

{% endblock %}
