{% extends "../layouts/layout.njk" %}

{% set pageTitle = applicationName + " - 404 error" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1 class="govuk-heading-xl">This page cannot be found</h1>
  <p class="govuk-body">Return to <a href="/inner">Home</a></p>
{% endblock %}
