{% extends "../layouts/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row">

<div class="govuk-grid-column-full">
<h1 class="govuk-heading-l">REPLACE-ME</h1>
</div>
</div>

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
<p class="govuk-body">Here are the prototypes for the REPLACE-ME. They're part of the REPLACE-ME Pathfinder.</p>
</div>
</div>


<div class="govuk-grid-row govuk-!-margin-top-8">
<div class="govuk-grid-column-full govuk-!-margin-bottom-2">

<h2 class="govuk-heading-m">Prototypes</h2>
</div>
  <div class="govuk-grid-column-one-half">
    <p class="govuk-!-font-weight-bold">Primary user facing</p>
    <ul class="govuk-list govuk-list--bullet">
    <li><a href="/inner">v0.0</a>
    <p>Last updated: 0 Xxx 202x</p>
    </li>
    <li><a href="/inner?bypass=true">v0.0 Bypass Registration</a>
    <p>Last updated: 0 Xxx 202x</p>
    </li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-half">
  </div>
</div>


{% endblock %}
